<template>
    <div class="card">
        <rules-component @testMethodEvent="testMethod" @RulesUpdatedEvent="populateRules" @RulesLoadedEvent="populateRules"></rules-component>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4" style="border-right: 1px dashed #d0d0d0;">
                    <div class="card-title">
                        Category
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Countries -->
                            <div class="form-group">
                                <select class="form-control form-control-sm" id="selectCountries" @change="changedCountry($event, $event.target.selectedIndex)" v-model="selectedCountry.id">
                                    <!-- <option disabled value="">Please select country</option> -->
                                    <option value="">Choose Country</option>
                                    <option v-for="(item, index) in countries" v-bind:value="item.id">{{ item.name }}</option>
                                </select>
                            </div>
                            <!-- Types -->
                            <div class="form-group">
                                <select class="form-control form-control-sm" id="selectTypes" :disabled="disabledAddType" @change="changedType($event, $event.target.selectedIndex)" v-model="selectedType.id">
                                    <option value="">Choose Type</option>
                                    <!-- <option disabled value="">Please select type</option> -->
                                    <option v-for="item, index in types" v-bind:value="item.id">{{ item.name }}</option>
                                </select>
                            </div>
                            <!-- Categories -->
                            <div class="form-group">
                                <!-- categories -->
                                <select class="form-control form-control-sm" id="selectCategories" :disabled="disabledAddCategory" @change="changedCategory($event, $event.target.selectedIndex)" v-model="selectedCategory.id">
                                    <option value="">Choose Category</option>
                                    <!-- <option disabled value="">Please select category</option> -->
                                    <option v-for="item, index in categories" v-bind:value="item.id">{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- rules -->
                                <div class="input-group">
                                    <select class="form-control form-control-sm" id="selectRules" v-model="selectedRule" :disabled="disabledAddRule">
                                        <!-- <option disabled value="">Please select rule</option> -->
                                        <option value="">Choose Rule</option>
                                        <option v-for="item, index in rules" v-bind:value="item.id">{{ item.name }}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm" @click="addRuleToCountry" :disabled="disabledAddRule">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add/Edit/Remove Countries -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="countryField" placeholder="Country" v-model="country.name" @input="changedCountryField" @focusout="changedCountryField">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm" @click="storeCountry" v-if="editCountry == false && deleteCountryBtn == false"> Add </button>
                                        <button class="btn btn-success btn-sm" @click="storeCountry" v-show="editCountry">Update</button>
                                        <button class="btn btn-danger btn-sm" @click="deleteCountry" v-show="deleteCountryBtn">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Add/Edit/Remove Types -->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="typeField" placeholder="Type" v-model="type.name" @input="changedTypeField" @focusout="changedTypeField"> <!--  :disabled="disabledAddType" -->
                                    <div class="input-group-append">
                                        <!-- :disabled="disabledAddType" -->
                                        <button class="btn btn-primary btn-sm" @click="storeType" v-if="editType == false && deleteTypeBtn == false"> Add </button>
                                        <button class="btn btn-success btn-sm" @click="storeType" :disabled="disabledAddType" v-show="editType">Update</button>
                                        <button class="btn btn-danger btn-sm" @click="deleteType" :disabled="disabledAddType" v-show="deleteTypeBtn">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Add/Edit/Remove Categories -->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="categoryField" placeholder="Category" v-model="category.name"  @input="changedCategoryField" @focusout="changedCategoryField"> <!-- readonly="readonly"  :readonly="readonlyCategories"  --> <!-- :disabled="disabledAddCategory" -->
                                    <div class="input-group-append">
                                        <!-- :disabled="disabledAddCategory" -->
                                        <button class="btn btn-primary btn-sm" @click="storeCategory" v-if="editCategory == false && deleteCategoryBtn == false"> Add </button>
                                        <button class="btn btn-success btn-sm" @click="storeCategory" :disabled="disabledAddCategory" v-show="editCategory">Update</button>
                                        <button class="btn btn-danger btn-sm" @click="deleteCategory" :disabled="disabledAddCategory" v-show="deleteCategoryBtn">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-title">
                        Rules
                    </div>
                    <div class="table-responsive" style="max-height:300px; overflow:auto;">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Desc</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item, index in countriesRules" v-if="item.id != null">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.description }}</td>
                                    <td><button class="btn btn-danger btn-sm" @click="deleteCountryRule(item.id, index)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" :disabled="disabledAddRule" @click="saveEntry">Save Entry</button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card-title">
                        Categories
                    </div>
                    <div class="table-responsive" style="max-height: 580px; overflow: auto;">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Country</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Rules</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="item, index in entries">
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.country.name }}</td>
                                        <td><span v-if="item.type && item.type.name != ''">{{ item.type.name }}</span></td>
                                        <td><span v-if="item.category && item.category.name != ''">{{ item.category.name }}</span></td>
                                        <td><span v-if="Array.isArray(item.rules) && item.rules[0] && item.rules[0].id != null">{{ item.rules[0].name }}</span></td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" @click="editEntry(item.id, index)">Edit</button>
                                            <button class="btn btn-danger btn-sm" @click="deleteEntry(item.id, index)">Delete</button>
                                        </td>
                                    </tr>
                                    <tr v-for="localRule, localIndex in item.rules" v-if="localIndex > 0">
                                        <td colspan="4"></td>
                                        <td>{{ localRule.name }}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import RulesComponent from './RulesComponent.vue';

    export default {
        props: ['testvar'],
        data: function(){
            return {
                readonlyCategories: true,
                readonlyType: true,
                disabledAddRule: true,
                disabledAddType: true,
                disabledAddCategory: true,
                editCountry: false,
                editCategory: false,
                editType: false,
                deleteCountryBtn: false,
                deleteCategoryBtn: false,
                deleteTypeBtn: false,
                selectedRule: "",
                countries: [],
                categories: [],
                types: [],
                rules: [],
                entries: [],
                countriesRules: [],
                entry: {
                    id: '',
                    country: {},
                    category: {},
                    type: {},
                    rules:[],
                },
                country: {
                    id: '',
                    name: '',
                },
                selectedCountry: {
                    id: '',
                    name: '',
                },
                selectedType: {
                    id: '',
                    country_id: '',
                    name: '',
                },
                selectedCategory: {
                    id: '',
                    type_id: '',
                    name: '',
                },
                category: {
                    id: '',
                    type_id: '',
                    name: '',
                },
                type: {
                    id: '',
                    country_id: '',
                    name: '',
                },
            }
        },
        methods: {
            populateCountries(){
                var app = this;
                axios.get('countries/all')
                    .then(function (resp) {
                        app.countries = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Could not load countries");
                    });
            },
            storeCountry(){
                var app = this;
                var country = app.country;
                if ( country.id == '' )
                {
                    axios.post('countries/store', country)
                        .then(function (resp) {
                            app.countries.push(resp.data);
                            app.countries.id = '';
                            app.countries.name = '';
                        })
                        .catch(function (resp) {
                            alert("Could not create your country");
                        });
                }
                else
                {
                    axios.post('countries/update/'+app.country.id, country)
                        .then(function (resp) {
                            for( var i = 0; i < app.countries.length; i++ )
                            {
                                if ( country.id == app.countries[i].id )
                                {
                                    app.countries[i].id     = country.id;
                                    app.countries[i].name   = country.name;
                                }
                            }
                            app.countries.id = ''; // find index and update it
                            app.countries.name = '';
                        })
                        .catch(function (resp) {
                            alert("Could not update your country");
                        });
                }
            },
            deleteCountry(){
                var app = this;
                var countryId = app.selectedCountry.id
                if (confirm("Do you really want to delete this country?")) {
                    axios.delete('countries/delete/' + countryId)
                        .then(function (resp) {
                            for( var i = 0; i < app.countries.length; i++ )
                            {
                                if ( app.countries[i].id == countryId )
                                {
                                    app.countries.splice(i, 1);
                                }
                            }
                        })
                        .catch(function (resp) {
                            alert("Could not delete country");
                        });
                }
            },
            changedCountry(event, selectedIndex){
                if ( selectedIndex > 0 )
                {
                    this.changedCountryField();
                    this.disabledAddType        = false;
                    this.disabledAddRule        = false;
                    var obj                     = this.getObjectFromArray(this.countries, this.selectedCountry.id);
                    this.selectedCountry.name   = obj.name;
                    this.country.id             = this.selectedCountry.id;
                }
                else
                {
                    this.editCountry            = false;
                    this.deleteCountryBtn       = false;
                    this.disabledAddType        = true;
                    this.disabledAddRule        = true;
                    this.selectedCountry.id     = '';
                    this.selectedCountry.name   = '';
                    this.country.id             = ''
                }
            },
            changedCountryField(){
                if ( this.selectedCountry.id != '' )
                {
                    if ( this.country.name == '' )
                    {
                        this.deleteCountryBtn  = true;
                        this.editCountry       = false;
                    }
                    else
                    {
                        this.deleteCountryBtn = false;
                        this.editCountry      = true;
                    }
                }
            },
            populateCategories(){
                var app = this;
                axios.get('categories/all')
                    .then(function (resp) {
                        app.categories = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Could not load categories");
                    });
            },
            storeCategory() {
                var app = this;
                var category = app.category;
                category.type_id = app.selectedType.id;
                if ( category.id == '' )
                {
                    axios.post('categories/store', category)
                        .then(function (resp) {
                            app.categories.push(resp.data);
                            app.category.id = '';
                            app.category.type_id = '';
                            app.category.name = '';
                        })
                        .catch(function (resp) {
                            alert("Could not create your category");
                        });
                }
                else
                {
                    axios.post('categories/update/'+app.category.id, category)
                        .then(function (resp) {
                            for( var i = 0; i < app.categories.length; i++ )
                            {
                                if ( category.id == app.categories[i].id )
                                {
                                    app.categories[i].id      = category.id;
                                    app.categories[i].type_id = category.type_id;
                                    app.categories[i].name    = category.name;
                                }
                            }

                            app.category.type_id = '';
                            app.category.name = '';
                        })
                        .catch(function (resp) {
                            alert("Could not update your category");
                        });
                }
            },
            deleteCategory(){
                var app = this;
                var catId = app.selectedCategory.id
                if (confirm("Do you really want to delete this category?")) {
                    axios.delete('categories/delete/' + catId)
                        .then(function (resp) {
                            for( var i = 0; i < app.categories.length; i++ )
                            {
                                if ( app.categories[i].id == catId )
                                {
                                    app.categories.splice(i, 1);
                                }
                            }
                        })
                        .catch(function (resp) {
                            alert("Could not delete category");
                        });
                }
            },
            changedCategory(event, selectedIndex){
                if ( selectedIndex > 0 )
                {
                    this.changedCategoryField();
                    var obj                     = this.getObjectFromArray(this.categories, this.selectedCategory.id);
                    this.selectedCategory.name  = obj.name;
                    this.category.id            = this.selectedCategory.id;
                }
                else
                {
                    this.editCategory               = false;
                    this.deleteCategoryBtn          = false;
                    this.selectedCategory.id        = '';
                    this.selectedCategory.type_id   = '';
                    this.selectedCategory.name      = '';
                    this.category.id                = '';
                }
            },
            changedCategoryField(){
                if ( this.selectedCategory.id != '' )
                {
                    if ( this.category.name == '' )
                    {
                        this.deleteCategoryBtn  = true;
                        this.editCategory       = false;
                    }
                    else
                    {
                        this.deleteCategoryBtn = false;
                        this.editCategory      = true;
                    }
                }
            },
            populateTypes(){
                var app = this;

                axios.get('types/all')
                    .then(function (resp) {
                        app.types = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Could not load types");
                    });
            },
            storeType(){
                var app = this;
                var type = app.type;
                type.country_id = app.selectedCountry.id;

                if ( type.id == '' )
                {
                    axios.post('types/store', type)
                        .then(function (resp) {
                            app.types.push(resp.data);
                            app.type.id = '';
                            app.type.country_id = '';
                            app.type.name = '';
                        })
                        .catch(function (resp) {
                            alert("Could not create your type");
                        });
                }
                else
                {
                    axios.post('types/update/'+type.id, type)
                        .then(function (resp) {
                            for( var i = 0; i < app.types.length; i++ )
                            {
                                if ( type.id == app.types[i].id )
                                {
                                    app.types[i].id         = type.id;
                                    app.types[i].country_id = type.country_id;
                                    app.types[i].name       = type.name;
                                }
                            }
                            type.country_id = '';
                            type.name       = '';
                        })
                        .catch(function (resp) {
                            alert("Could not update your type");
                        });
                }
            },
            deleteType(){
                var app = this;
                var typeId = app.selectedType.id
                if (confirm("Do you really want to delete this type?")) {
                    axios.delete('types/delete/' + typeId)
                        .then(function (resp) {
                            for( var i = 0; i < app.types.length; i++ )
                            {
                                if ( app.types[i].id == typeId )
                                {
                                    app.types.splice(i, 1);
                                }
                            }
                        })
                        .catch(function (resp) {
                            alert("Could not delete type");
                        });
                }
            },
            changedType(event, selectedIndex){
                if ( selectedIndex > 0 )
                {
                    this.changedTypeField();
                    this.disabledAddCategory    = false;
                    var obj                     = this.getObjectFromArray(this.types, this.selectedType.id);
                    this.selectedType.name      = obj.name;
                    this.type.id                = this.selectedType.id;
                }
                else
                {
                    this.editType                   = false;
                    this.deleteTypeBtn              = false;
                    this.disabledAddCategory        = true;
                    this.selectedType.id            = '';
                    this.selectedType.country_id    = '';
                    this.selectedType.name          = '';
                    this.type.id                    = '';
                }
            },
            changedTypeField(){
                if ( this.selectedType.id != '' )
                {
                    if ( this.type.name == '' )
                    {
                        this.deleteTypeBtn  = true;
                        this.editType   = false;
                    }
                    else
                    {
                        this.deleteTypeBtn = false;
                        this.editType      = true;
                    }
                }
            },
            populateRules( rulesfromEvent ){
                this.rules = rulesfromEvent; // rules came from child component through event
                var app = this;
            },
            addRuleToCountry() {
                var selectedRuleObj = '';

                selectedRuleObj = this.getObjectFromArray(this.rules, this.selectedRule);
                this.countriesRules.push(selectedRuleObj);


            },
            deleteCountryRule(id, index) {
                for( var i = 0; i < this.countriesRules.length; i++ )
                {
                    if ( this.countriesRules[i].id == id )
                    {
                        this.countriesRules.splice(i, 1);
                    }
                }
            },
            getObjectFromArray(array, id) {
                // go through array and see if id from selected option is equal to id in some object in array
                for (var i = 0; i < array.length; i++)
                {
                    if ( array[i].id == id )
                    {
                        return array[i];
                    }
                }
            },
            populateEntries(){
                var app = this;
                axios.get('pivot/all')
                    .then(function (resp) {
                        app.entries = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Could not load pivot data");
                    });
            },
            saveEntry(){
                var app = this;
                app.entry.country   = app.selectedCountry;
                app.entry.category  = app.selectedCategory;
                app.entry.type      = app.selectedType;
                app.entry.rules     = app.countriesRules;

                if ( app.entry.id == '' )
                {
                    axios.post('pivot/store', app.entry)
                        .then(function (resp) {
                            app.entries.push(resp.data);
                        })
                        .catch(function (resp) {
                            alert("Could not create your table entry");
                        });
                }
                else
                {
                    axios.post('pivot/update/'+app.entry.id, app.entry)
                        .then(function (resp) {
                            for( var i = 0; i < app.entries.length; i++ )
                            {
                                if ( app.entries[i].id == app.entry.id )
                                {
                                    app.entries[i].country  = resp.data.country;
                                    app.entries[i].category = resp.data.category;
                                    app.entries[i].type     = resp.data.type;
                                }
                            }
                            app.updatedEntry();
                            app.countriesRules = [];
                        })
                        .catch(function (resp) {
                            alert("Could not update your table entry");
                        });
                }
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete this entry?")) {
                    var app = this;
                    axios.delete('pivot/delete/' + id)
                        .then(function (resp) {
                            app.entries.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete rule");
                        });
                }
            },
            editEntry(id, index){
                var entry = this.entries[index];
                this.selectedCountry        = entry.country;
                this.selectedType           = entry.type;
                this.selectedCategory       = entry.category;
                this.countriesRules         = entry.rules;
                this.entry.id               = this.entries[index].id;

                this.disabledAddType        = false;
                this.disabledAddCategory    = false;
                this.disabledAddRule        = false;

                this.editCountry            = true;
                this.editCategory           = true;
                this.editType               = true;
            },
            updatedEntry(){
                this.selectedCountry.id     = '';
                this.selectedCountry.name   = '';
                this.selectedType.id        = '';
                this.selectedCategory.id    = '';
                this.countriesRules         = [];
                this.entry.id               = '';

                this.disabledAddType        = true;
                this.disabledAddCategory    = true;
                this.disabledAddRule        = true;

                this.editCountry            = false;
                this.editCategory           = false;
                this.editType               = false;
            },
        },
        computed: {

        },
        components: {
            RulesComponent
        },
        mounted() {
            this.populateCountries();
            this.populateCategories();
            this.populateTypes();
            this.populateEntries();
        }
    }
</script>
