<template>
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4" style="border-right: 1px dashed #d0d0d0;">
                <div class="card-sub">
                    Rule
                </div>
                <form>
                    <div class="form-group">
                        <label for="ruleId">ID</label>
                        <input type="text" class="form-control form-control-sm" id="ruleId" placeholder="Rule ID" readonly="readonly" v-model="rule.id">
                    </div>
                    <div class="form-group">
                        <label for="ruleName">Name</label>
                        <input type="text" class="form-control form-control-sm" id="ruleName" placeholder="Rule Name" v-model="rule.name">
                    </div>
                    <div class="form-group">
                        <label for="ruleDescription">Description</label>
                        <textarea class="form-control form-control-sm" id="ruleDescription" placeholder="Rule Description" rows="5" v-model="rule.description"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" @click="saveForm">Save Rule</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-8" style="max-height: 450px; overflow: auto;">
                <div class="card-sub">
                    Rules
                </div>
                <div class="table-responsive" >
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Desc</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item, index in rules">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @click="editRule(item.id, index)">Edit</button>
                                    <button class="btn btn-danger btn-sm" @click="deleteRule(item.id, index)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                rule: {
                    id: '',
                    name: '',
                    description: '',
                },
                ruleId: "",
                ruleName: "",
                ruleDesc: "",
                rules: [],
            }
        },
        mounted() {
            this.refreshTable();
            this.testMethod();
        },
        created() {

        },
        methods: {
            saveForm(event) {
                event.preventDefault();
                var rules = this.rules;
                var app = this;
                var newRule = app.rule;

                if (newRule.id == '' )
                { // Create new rule
                    axios.patch('rules/store', newRule)
                        .then(function (resp) {
                            app.refreshTable();
                            app.refreshForm();
                        })
                        .catch(function (resp) {
                            alert("Could not create your company");
                        });
                }
                else
                {   // update request
                    axios.patch('rules/update/' + newRule.id, newRule)
                        .then(function (resp) {
                            app.refreshTable();
                            app.refreshForm();
                        })
                        .catch(function (resp) {
                            alert("Could not create your company");
                        });
                }
                this.$emit('RulesUpdatedEvent', this.rules);
            },
            refreshTable() {
                var app = this;
                axios.get('rules/all')
                    .then(function (resp) {
                        app.rules = resp.data;
                        app.$emit('RulesLoadedEvent', app.rules);
                    })
                    .catch(function (resp) {
                        alert("Could not load rules");
                    });
            },
            refreshForm() {
                this.rule.name = '';
                this.rule.description = '';
                this.rule.id = '';
            },
            testMethod() {
                var testVar = "Hello there";
                this.$emit('testMethodEvent', testVar);
            },
            editRule(id, index) {
                this.rule.id            = this.rules[index].id;
                this.rule.name          = this.rules[index].name;
                this.rule.description   = this.rules[index].description;
            },
            deleteRule(id, index) {
                if (confirm("Do you really want to delete this rule?")) {
                    var app = this;
                    axios.delete('rules/delete/' + id)
                        .then(function (resp) {
                            app.rules.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete rule");
                        });
                }
            }
        }
    }
</script>
